{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	
		<title>Tout</title>
	
		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href=" {% static " gestion_produit/assets/img/favicon.png " %}">		<!-- google font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
		<!-- fontawesome -->
		<link rel="stylesheet" href="{% static 'gestion_produit/assets/css/all.min.css' %} ">
		<!-- bootstrap -->
		<link rel="stylesheet" href=" {% static 'gestion_produit/assets/bootstrap/css/bootstrap.min.css' %} ">
		<!-- owl carousel -->
		<link rel="stylesheet" href=" {% static 'gestion_produit/assets/css/owl.carousel.css' %} ">
		<!-- magnific popup -->
		<link rel="stylesheet" href=" {% static 'gestion_produit/assets/css/magnific-popup.css' %} ">
		<!-- animate css -->
		<link rel="stylesheet" href="{% static 'gestion_produit/assets/css/animate.css' %}">
		<!-- mean menu css -->
		<link rel="stylesheet" href="{% static 'gestion_produit/assets/css/meanmenu.min.css' %}">
		<!-- main style -->
		<link rel="stylesheet" href="{% static 'gestion_produit/assets/css/main.css' %}">
		<!-- responsive -->
		<link rel="stylesheet" href="{% static 'gestion_produit/assets/css/responsive.css' %}">
	
	</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker" style="background-color: rgb(14, 13, 13);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url "list_menu" %}">
							<h5 style="color: white;">BARRY-RESTO</h5>
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item "><a href="{% url 'list_menu' %}" >ACCUEIL</a>
								</li>
								<li ><a href="{% url 'all_products' %}">MENU</a>
									<ul class="sub-menu">
										<li><a href="{% url 'all_products' %}">Tout</a></li>
										<li><a href="{% url 'plats' %}">Plats</a></li>
										<li><a href="{% url 'desserts' %}">Desserts</a></li>
										<li><a href="{% url 'boissons' %}">Boissons</a></li>
									</ul>
								</li>
								<li><a href="{% url 'apropos' %}">A PROPOS</a>
								</li>
								<li><a href="{% url 'contact' %}">CONTACT</a></li>
								<li><a href="shop.html">CONNEXION</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Se connecter</a></li>
										<li><a href="checkout.html">S'inscrire</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<form method="get" action="{% url 'recherche' %}" class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Rcherche ...</h3>
							<input type="text" name="search" placeholder="Saisisser ici">
							<button type="submit">Rchercher <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- end search area -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">NOTRE</span> MENU</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>

					</div>
				</div>
			</div>

			<div class="row product-lists">
				{% for Produits in donnees  %}
				<div class="col-lg-4 col-md-6 text-center berry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'detail_produit' Produits.id %}"><img src="{{ Produits.image.url }}" alt="{{Produits.nom}}" ></a>
						</div>
						<h3>{{ Produits.nom }}</h3>
						<p class="product-price">Prix: {{ Produits.prix }} GNF</p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</a>
						<a href="detail_produit/{{Produits.id}}" class="cart-btn"> detail</a>
					</div>
				</div>
				{% endfor %}		
			</div>

				
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- cart banner section -->
	
    <!-- end cart banner section -->
	

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Les</span> Commentaires</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'gestion_produit/assets/img/avaters/avatar1.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Djouma BARRY <span>LeRoiDuClavier</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'gestion_produit/assets/img/avaters/avatar2.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Sadio DIALLO <span>Deveoppeur python</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	<!-- end testimonail-section -->
	
	
	<!-- end latest news -->

	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 - <a href="https://imransdesign.com/">LeRoiDuClavier</a>,  Tout droit reservés.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'gestion_produit/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'gestion_produit/assets/bootstrap/js/bootstrap.min.js ' %}"></script>
	<!-- count down -->
	<script src="{% static 'gestion_produit/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'gestion_produit/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'gestion_produit/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'gestion_produit/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'gestion_produit/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'gestion_produit/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'gestion_produit/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'gestion_produit/assets/js/main.js' %}"></script>

</body>
</html>