{% load static %}

{% block header %}

	{% include "header.html" %}
 
{% endblock %}



<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
					  <div class="card single-accordion">
						<div class="card-header" id="headingOne">
						  <h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  faites nous savoir ce que vous en pensez de notre restaurant
							</button>
						  </h5>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="billing-address-form">
								<form method="POST" action="">
									{% csrf_token %}
									<p><textarea name="message" id="bill" cols="30" rows="40" placeholder="Saissisez votre commentaire ici" style="height: 300px;border: solid 3px orange; box-shadow: 2px 2px 5px black;"></textarea></p>
									<p style="display: flex; justify-content: center;"><button type="submit" class="btn btn-primary">commenter</button>
									</p>
								</form>
							</div>
						  </div>
					  </div>
					 
					</div>

				</div>
			</div>

			
		</div>
	</div>
</div>
<!-- end check out section -->



{% block footer %}

	{% include "footer.html" %}

{% endblock %}
