<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingUp</title>
    <link rel="stylesheet" href="style.css">
    <script src="validations.js" defer></script>
</head>
<body>
    <form method="post" id="form_content" action="merci.html" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="body">
            <div class="content_m">
                <p>
					Votre a ete reninitaliser avec success
				</p>
            
                <div class="bouton">
                        <button><a id="" href="{% url 'login' %}">Retour</a></button>
                </div>
        </div>
        
    </form>


   
    <script src="validations.js"></script>
</body>
</html>